

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    margin-top: 10%;
}
